---
layout: base-layout.pug
title: Projects
---

div(class="projects")
  div(class="project")
    img(src="/img/projects/twiz.jpeg")
    div
      a(href="https://twiz.me" target="_blank" rel="noopener noreferrer")
        h3(class="title") Twiz.me
      div(class="description")
        p Create beautiful twitter visuals.
